.flex01 {
    display: flex;
    justify-content: space-evenly;
  }
  .flex02 {
    display: flex;
    justify-content: space-evenly;
  }
  
  .flex03 {
    display: flex;
    padding-top: 50px;
  }
  
  .flex04 {
    display: flex;
}

  .flex05 {
  display: flex;
  justify-content: center;
}