.fixed_button_size {
  height: 80px;
  width: 80px;
}

.fixed_buttons_margin{
  margin-left: 80px;
  margin-right: 80px;
}

.topbox_intro {
    /* Grouped togheter with NAVBOX */
    background-color: rgb(204, 169, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/images/hazardstrip001a.jpg);
    background-size: contain;
    height: 80px;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 20px;
  }

.button_container_intro01 {
    width: 40%;
    display: flex;
    justify-content: center;
  }

.nav-containter_intro_tekst {
    position: absolute;
    left: 5%;
    top: 40%;
    color: rgb(204, 169, 88);
}

.nav_container_intro {
  background-color: #383735;
  height: 1000px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.intro_tekst {
    font-family: "Oswald", sans-serif;
    font-size: 150px;
    margin: 0;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #383735;
  }

  .intro_tekst02 {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    margin: 0;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #383735;
  }

  .intro_tekst03 {
    margin-top: 2%;
  }

  .intro_tekst04 {
    margin-bottom: 2%;
  }


.intro_loop_video { /* REDUNTENDT (USED WITH OLD INTRO) */
    object-fit: cover;
  }

.boxdiv_nav_profileimage {
    background-color: rgb(204, 169, 88);
    color: #383735;
    width: 30vw;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    border: solid;
    border-color: white;
    border-width: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
    box-shadow: rgb(0, 0, 0) 10px 10px 20px 0px;
  }

  .boxdiv_innerprofile{
    width: 70%;
  
  }

.navbar_intro {
    background-color: rgb(204, 169, 88);
    height: 100px;
    width: 100%;

    background-image: url(/images/hazardstrip001a.jpg);
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 1;

    box-shadow: inset rgb(0, 0, 0) 0px 0px 20px;
  }

  .navbar_intro_alt {
    background-color: rgb(204, 169, 88);
    height: 100px;
    width: 100%;

    background-image: url(/images/hazardstrip001a.jpg);
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: inset rgb(0, 0, 0) 0px 0px 20px;
  }

.button_container_intro02 {
    display: flex;
  }

.background-color_intro {
    background-color: #383735;
    background-image: url(/images/vector_hole01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .boxdiv_video_image_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.boxdiv_video_image01 {
    background-color: rgb(204, 169, 88);
    width: 45vw;
    height: 500px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: white;
    border-width: 10px;
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px 2px;
  }

  .boxdiv_video_image02 {
    background-color: rgb(204, 169, 88);
    width: 45vw;
    height: 500px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: white;
    border-width: 10px;
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px 2px;
  }

  .boxdiv_nav_description {
    background-color: rgb(204, 169, 88);
    background-image: url(/images/backgroundbox02.png);
    background-size: cover;
    background-position: center;

    color: #383735;
    width: 74vw;

    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;


    border: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 50px;

    margin-top: 50px;
    margin-bottom: 50px;
    
    padding: 20px;
    box-shadow: rgb(0, 0, 0) 10px 10px 20px 0px;
  }
  
  
  .topbutton01 {
    border-style: solid;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-color: white;
    background-color: #383735;
    font-family: "Oswald", sans-serif;
    font-size: xx-large;

    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    border: solid;
    border-color: white;
    border-width: 5px;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 20px;
  }

  .topbutton02 {
    border-style: solid;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-color: white;
    background-color: #383735;
    background-image: url(/images/dev_texture.png);
    background-size: cover;

    font-family: "Oswald", sans-serif;
    font-size: 26px;

    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
    border: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 20px;
  }

.intro_tekst01 {
    font-family: "Outfit", sans-serif;
    font-size: xx-large;
  }

.intro_tekst02 {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
  }

  .boxdiv_contact_intro {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.background-color_intro_profile{
    background-image: url(/images/vector_low_poly_gray02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.profilepicture_intro{
  width: 500px;
  height: 500px;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px;
  
  border: solid;
  border-color: white;
  border-width: 10px;
  border-radius: 20px;
}

.teknisk01{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.linktext01{
  color: black;
}