.fixed_return {
    position: fixed;
    z-index: 1;
}

.topbox_intro {
    /* Grouped togheter with NAVBOX */
    background-color: rgb(204, 169, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/images/hazardstrip001a.jpg);
    background-size: contain;
    height: 80px;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 20px;
  }

.button_container_intro01 {
    width: 40%;
    display: flex;
    justify-content: center;
  }

.nav-containter_intro_tekst {
    position: absolute;
    left: 5%;
    color: rgb(204, 169, 88);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #383735;
}

.nav_container_intro {
  background-color: #383735;
  height: 1000px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.intro_tekst {
    font-family: "Oswald", sans-serif;
    font-size: 150px;
  }


.intro_loop_video {
    object-fit: cover;
  }

.navbar_intro {
    background-color: rgb(204, 169, 88);
    height: 100px;
    background-image: url(/images/hazardstrip001a.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 20px;
  }

.button_container_intro02 {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

.background-color_intro {
    background-color: #383735;
    background-image: url(/images/vector_hole01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .boxdiv_video_image_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.boxdiv_video_image01 {
    background-color: rgb(204, 169, 88);
    width: 45vw;
    height: 500px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: white;
    border-width: 10px;
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px 2px;
  }

  .boxdiv_video_image02 {
    background-color: rgb(204, 169, 88);
    width: 45vw;
    height: 500px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: white;
    border-width: 10px;
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px 2px;
  }

  .boxdiv_nav_description {
    background-color: rgb(204, 169, 88);
    color: #383735;
    width: 24vw;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    border: solid;
    border-color: white;
    border-width: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
    box-shadow: rgb(0, 0, 0) 10px 10px 20px 0px;
  }
  
  .topbutton01 {
    border-style: solid;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-color: white;
    background-color: #383735;
    font-family: "Oswald", sans-serif;
    font-size: xx-large;
    padding: 10px;
    border: solid;
    border-color: white;
    border-width: 5px;
  }

.intro_tekst01 {
    font-family: "Oswald", sans-serif;
    font-size: xx-large;
  }