@media only screen and (max-width: 1221px) {
  
    /* INTRO */

    .navbar_intro {
      position: relative;
      z-index: 0;
  }

    .nav-containter_intro_tekst {
      top: 20%;;
  }
  
    .intro_tekst01 {
      font-size: 30px;
    }
  
    .intro_tekst {
      font-size: 80px;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #383735;
    }

    .intro_tekst02 {
      font-size: 30px;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #383735;
    }
  
    .boxdiv_nav_description {
      padding: 50px;
      border-radius: 20px;
    }
  
    .topbutton01 {
      display: none;
    }

    .boxdiv_video_image01, .boxdiv_video_image02 {
      display: none;
   }

   .boxdiv_nav_description {
    width: 100vw;
}

.boxdiv_nav_description {
  box-shadow: inset rgb(0, 0, 0) 0px 0px 20px;
}

.nav_container_intro {
  height: 900px;
}

.info_box_text01 {
  margin-right: 20px;
}

       /* GAMEDEV */

       .gamedev_logo02 {
        height:  80px;
        width: 330px;
      }
    
      .gamedev_logo03 {
        height:  128px;
        width: 128px;
      }

      .boxdiv_gamedev {

        width: auto;

      }
    /* R&D */

    .next_gameplay {
      right: 0px;
      border-radius: 3px 0 0 3px;
  }
  
    .prev_gameplay {
    left: 0px;
    border-radius: 3px 0 0 3px;
  }

  .next_RnD {
    right: 0px;
  }
  
  .prev_RnD {
    left: 0px;
  }
  
  .prev_RnD, .next_RnD {
    top: 35%;
  }
  
  .row_RnD{
    display: none;
  }

  .boxdiv_RD {
    width: auto;
    height: auto;
   }

   .RD_slideshow_image {
    height: 350px;
    width: 100vw;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .RD_buttons{
    width: 50px;
    height: 50px;
  }

  .next_gameplay_RnD  {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

  .prev_gameplay_RnD  {
  left: 0px;
  border-radius: 3px 0 0 3px;
}

.RD_button_size{
  width: 50px;
  height: 50px;
}

.next_gameplay_RnD {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev_gameplay_RnD {
left: 0px;
border-radius: 3px 0 0 3px;
}

.RD_tekst01 {
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.RD_tekst02 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-align: center;
}

.RD_tekst_longlink {
  font-family: "Outfit", sans-serif;
  font-size: 10px;
  text-align: center;
}

.next_RnD {
  right: 0px;
}

.prev_Rnd {
  left: 0px;
}

.prev_Rnd, .next_Rnd {
  top: 35%;
}

.RD_slideshow_image {
  height: 350px;
  width: 100vw;
  margin-bottom: 20px;
  margin-top: 20px;
}

    /* DUSTGROWL */
  
    .dustgrowl_logo {
      height:  100px;
      width: 272px;
    }
  
    .dustgrowl_buttons{
      width: 50px;
      height: 50px;
    }
  
    .next_gameplay {
      right: 0px;
      border-radius: 3px 0 0 3px;
  }
  
    .prev_gameplay {
    left: 0px;
    border-radius: 3px 0 0 3px;
  }
  
  .dustgrowl_tekst01 {
    font-size: 30px;
    padding: 20px;
  }
  
  .boxdiv_dustgrowl {
   width: auto;
   height: auto;
  }
  
  .next {
    right: 0px;
  }
  
  .prev {
    left: 0px;
  }
  
  .prev, .next {
    top: 35%;
  }
  
  .row{
    display: none;
  }
  
  .dustgrowl_button_size{
    width: 50px;
    height: 50px;
  }
  
  .dustgrowl_slideshow_image {
    height: 350px;
    width: 100vw;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 27px;
    padding: 8px 12px;
    position: absolute;
    top: 30px;
  }
  
  .numbertext02 {
    color: #383735;
    font-size: 27px;
    padding: 8px 12px;
    position: absolute;
    top: 30px;
  }

  .gameplay_slides {
    height: 300px;
    width: 100%;
  }
  
  /* BLENDER */

  .boxdiv_blender {
    width: auto;
    height: auto;
   }
  
  .blender-logo-scale{
    height: 100px;
    width: 282px;
  }
    
  
  .blender_boxdiv_info {
    width: auto;
  }
  
  .flex_blender01{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    flex-direction: column;
  }
  
  .boxdiv_blender_gallerybox {
    background-color: rgb(204, 169, 88);
    width: auto;
    height: 280px;
    margin-left: 50px;
    margin-right: 50px;
    
  }

  .videos01 {
    display: none;
}

.blender_boxdiv_loop {
 display: none;
}
  
  /* VIDEO */
  
  .boxdiv_video_text {
    width: auto;
  }
  
  .boxdiv_video_text {
    padding: 30px;
  }
  
  .row_video{
    display: none;
  }
  
  .video_display01 {
    width: 80vw;
    height: 250px;
  }
  
  .next_video {
    right: 0px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
  }
  
  .video_button01{
    height: 50px;
    width: 50px;
  }

  .video_tekst01 {
    font-size: 28px;
  }

  .caption-container_video {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.flex_video {
  display: flex;
  margin-left: 0;
}

  /* GRAPICH */
  .flex05{
    grid-template-columns: auto auto;
  }
    .grapich_logo {
      height: 130px;
      width: 150px;
  }

  .boxdiv_grapich_text {
    width: auto;
}

.boxdiv_grapich {
  width: 100%;
}
  
  /* CONTACT */
  
  .contact-button01{
    height: 60px;
    width: 60px;
  }
  
  .contact-button02{
    height: 60px;
    width: 70px;
  }

  .video_logo {
    height: 150px;
    width: 180px;
  }

  .boxdiv_contact {
    background-image: url(/images/vector_low_poly_gray02.jpg);
}

  }